# Introduction to Sklearn

 0. workflow
 1. getting data ready
 2. choose right estimator or model
 3. fit to the model
 4. Evaluating model
 5. improve the model
 6. save and load trained model
 7. putting it all together

 # 0 :- Workflow

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
# Reading CSV
heart_disease = pd.read_csv("./data/heart.csv")
heart_disease.head() # want to predic target

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [7]:
X = heart_disease.drop("target", axis = 1) #feature matrix

In [8]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2

In [9]:
Y = heart_disease['target']
Y

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

# Choosing Model and hyperparameters

In [11]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier() # clf is a classifier

In [13]:
clf.get_params() #list of parameters

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

# Fitting model to training data

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3)

In [16]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
513,54,1,0,110,206,0,0,108,1,0.0,1,1,2
721,45,1,0,115,260,0,0,185,0,0.0,2,0,2
982,67,0,0,106,223,0,1,142,0,0.3,2,2,2
175,56,0,0,200,288,1,0,133,1,4.0,0,2,3
157,54,1,2,120,258,0,0,147,0,0.4,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
682,59,1,0,164,176,1,0,90,0,1.0,1,2,1
263,55,0,1,132,342,0,1,166,0,1.2,2,0,2
145,40,1,0,110,167,0,0,114,1,2.0,1,0,3
590,74,0,1,120,269,0,0,121,1,0.2,2,1,2
87,59,0,0,174,249,0,1,143,1,0.0,1,0,2

In [24]:
X_test # both X_test and Y_test will have same index numbers

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
500,71,0,0,112,149,0,1,125,0,1.6,1,0,2
493,55,1,0,132,353,0,1,132,1,1.2,1,1,3
724,74,0,1,120,269,0,0,121,1,0.2,2,1,2
161,51,1,2,100,222,0,1,143,1,1.2,1,0,2
854,65,1,3,138,282,1,0,174,0,1.4,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,58,0,2,120,340,0,1,172,0,0.0,2,0,2
561,65,0,2,155,269,0,1,148,0,0.8,2,0,2
979,45,1,0,142,309,0,0,147,1,0.0,1,3,3
700,41,1,2,130,214,0,0,168,0,2.0,1,0,2
589,54,1,0,122,286,0,0,116,1,3.2,1,2,2

In [19]:
clf.fit(X_train,Y_train); #Training the Classifier Model

In [20]:
y_predicted = clf.predict(X_test) # Using Model to Predict

In [39]:
print(y_predicted[0:10])
print(Y_test[0:10])

[1 0 1 1 0 1 0 1 0 1]
500    1
493    0
724    1
161    1
854    0
205    1
43     0
401    1
400    0
644    1
Name: target, dtype: int64

# Evaluating Accuracy of the model

In [26]:
clf.score(X_train,Y_train) # 100 % accuracy on training dataset

1.0

In [40]:
clf.score(X_test,Y_test)

0.9805194805194806

In [41]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [42]:
print(classification_report(Y_test,y_predicted))

              precision    recall  f1-score   support

           0       0.98      0.98      0.98       144
           1       0.98      0.98      0.98       164

    accuracy                           0.98       308
   macro avg       0.98      0.98      0.98       308
weighted avg       0.98      0.98      0.98       308

In [43]:
print(confusion_matrix(Y_test,y_predicted))

[[141   3]
 [  3 161]]

In [44]:
print(accuracy_score(Y_test,y_predicted)) #same as clf.score()

0.9805194805194806

# Trying to improve model 

Done by adjusting a hyper parameter n_estimators

In [45]:
np.random.seed(50)

In [47]:
for i in range(5,100,5):
    print(f"Trying model with n_estimators={i}")
    clf = RandomForestClassifier(n_estimators = i)
    clf.fit(X_train,Y_train)
    print(f"Accuracy :{clf.score(X_test,Y_test)*100:.2f}%")
    print("")

Trying model with n_estimators=5
Accuracy :96.75%

Trying model with n_estimators=10
Accuracy :100.00%

Trying model with n_estimators=15
Accuracy :98.05%

Trying model with n_estimators=20
Accuracy :98.05%

Trying model with n_estimators=25
Accuracy :100.00%

Trying model with n_estimators=30
Accuracy :98.05%

Trying model with n_estimators=35
Accuracy :98.05%

Trying model with n_estimators=40
Accuracy :98.05%

Trying model with n_estimators=45
Accuracy :98.05%

Trying model with n_estimators=50
Accuracy :98.05%

Trying model with n_estimators=55
Accuracy :96.75%

Trying model with n_estimators=60
Accuracy :98.05%

Trying model with n_estimators=65
Accuracy :98.05%

Trying model with n_estimators=70
Accuracy :98.05%

Trying model with n_estimators=75
Accuracy :98.05%

Trying model with n_estimators=80
Accuracy :98.05%

Trying model with n_estimators=85
Accuracy :99.03%

Trying model with n_estimators=90
Accuracy :98.05%

Trying model with n_estimators=95
Accuracy :98.05%

# Saving the model using Pickle

In [48]:
import pickle

In [51]:
pickle.dump(clf,open("./Trained_Model/heart_model.pkl","wb")) #wb stands for write binary